@{
    var urlHost = Context.Request.Host;
    var baseUrl = @"https://" + urlHost;

    var exampleUrl = baseUrl + @"/Status";
    // Response taken from StatusController.cs
    var exampleResponse = "OK";
}

<!DOCTYPE html>
<html>
<head>
    <title>@CentralniServer.Properties.Resources.ServerTitle</title>
    <style>
        .text-center {
            text-align: center!important;
        }
        #options_table {
            width: 100%;
            max-width: 1200px;
        }
        #options_table > thead {
            text-align: center;
        }
        #options_table > thead > tr:first-child {
            font-weight: bold;
            padding: .5rem 1rem;
        }
        #options_table td {
            border: 1px solid rgba(0, 0, 0, 0.2);
        }
    </style>
</head>
<body>
    <div>
        <h1 class="text-center">Welcome to @CentralniServer.Properties.Resources.ServerTitle</h1>
        <p>The server is online!</p>
    </div>
    <div>
        <ul>
            <li>Example call: <pre><a href="@exampleUrl" target="_blank">@exampleUrl</a></pre></li>
            <li>Response: <pre>@exampleResponse</pre></li>
        </ul>
    </div>
    <div>
        <h3>List of requests and responses:</h3>
        <table id="options_table">
            <thead>
                <tr>
                    <td>
                        Method
                    </td>
                    <td>
                        Link
                    </td>
                    <td>
                        URL aguments (if any)
                    </td>
                    <td>
                        Response
                    </td>
                </tr>
            </thead>
            <tbody>
                <!-- Inserted through JavaScript -->
            </tbody>
        </table>
    </div>

    <template id="template_options_tr">
        <tr>
            <td>{method}</td>
            <td>{link}</td>
            <td>{body}</td>
            <td>{response}</td>
        </tr>
    </template>

    <script>
        var table_body = document.querySelector("#options_table > tbody");
        var option_html = document.querySelector("#template_options_tr").innerHTML;
        var baseUrl = "@baseUrl";

        function addOption(method, link, body, response) {
            if (!body)
                body = "No body.";

            table_body.insertAdjacentHTML("beforeend",
                option_html.replace(`{method}`, method).replace(`{link}`, link).replace(`{body}`, body).replace(`{response}`, response)
            );
        }

        function onLoad() {
            addOption("GET", baseUrl + " (+ /Home/Index)", null, `HTML of this page.`);
            addOption("GET", baseUrl + "/Status", null, `"OK" (server is alive)`);
            addOption("POST", baseUrl + "/User/Login", `username=exampleUsername&amp;password=ExamplePassword`,
                `"Y" (correct) <br />
                "N_Username" (incorrect username) <br />
                "N_Password" (incorrect password)`
            );
            addOption("GET", baseUrl + "/User/Get/id?", ``,
                `(id sent, one user): { id, name, surname, username, password, role }<br />
                (no id, all users): [{...}, {...}, ...]`);
            addOption("POST", baseUrl + "/User/Delete/id?", null, "Y<br/>or<br/>N");
            addOption("POST", baseUrl + "/User/Add/?", "name=example_name&surname=example&username=example&<br/>hashedPassword=example&role=admin_or_worker", "Y (success)<br/>N_ERROR_NAME (Error name can be 'parameters' etc)");
        }

        onLoad();
    </script>
</body>
</html>
